<container [fullscreen]="true" layout="fit">

    <titlebar [title]="title" docked="top">
        <button align="left"  iconCls="x-fa fa-bars" (pressedchange)="this.toggleMicro($event)" [pressed]="micro" ripple="false"></button>
      </titlebar>
      <toolbar  docked="top">
          <segmentedbutton  allowMultiple="true">
            <button  ui="default-toolbar" text="Micro" [pressed]="micro" (pressedchange)="this.toggleMicro($event)"></button>
          </segmentedbutton>
        </toolbar>
  <panel docked="left" shadow="true">
    <treelist
      ref="tree"
      [width]="width"
      expanderOnly="false"
      [store]="this.store"
      [micro]="micro"
      [expanderFirst]="!nav"
      (selectionchange)="navigate($event)" 
      [ui]="nav ? 'nav' : null">
    </treelist>
  </panel>


  <container>
    <router-outlet #extroute></router-outlet>
  </container>

</container>